// Copyright 2022 Lukas Kucera
// https://github.com/kucera-lukas/miryoku

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  behaviors {
    u_caps_word: u_caps_word {
      compatible = "zmk,behavior-caps-word";
      label = "u_caps_word";
      #binding-cells = <0>;
      mods = <MOD_LSFT>;
      continue-list = <A B C D E F G H I J K L M N O P Q R S T U V W X Y Z N0 N1 N2 N3 N4 N5 N6 N7 N8 N9 BACKSPACE DELETE COMMA UNDERSCORE EQUAL MINUS LEFT RIGHT DOLLAR>;
    };

    caps_word_caps: caps_word_caps {
      compatible = "zmk,behavior-hold-tap";
      label = "caps_word_caps";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&u_caps_word>;
    };
  };

  combos {
    compatible = "zmk,combos";
    combo_caps_word_caps {
      key-positions = <32 41>;
      bindings = <&caps_word_caps CAPS 0>;
      layers = <0>;
    };
  };
};
