// Copyright 2022 Lukas Kucera
// https://github.com/kucera-lukas/miryoku

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "hold_tap.h"

#include "hold_tap.dtsi"

/ {
  behaviors {
    u_caps_word: u_caps_word {
      compatible = "zmk,behavior-caps-word";
      label = "u_caps_word";
      #binding-cells = <0>;
      mods = <MOD_LSFT>;
      continue-list = <A B C D E F G H I J K L M N O P Q R S T U V W X Y Z N0 N1 N2 N3 N4 N5 N6 N7 N8 N9 BACKSPACE DELETE COMMA UNDERSCORE EQUAL MINUS LEFT RIGHT DOLLAR>;
    };
  };
};

HOLD_TAP_FUNCTION(caps_word_caps, &kp, &u_caps_word)

/ {
  combos {
    compatible = "zmk,combos";

    combo_caps_word_caps {
      key-positions = <32 41>;
      bindings = <&caps_word_caps CAPS 0>;
      layers = <0>;
    };

    combo_refresh_close_tab {
      key-positions = <25 23>;
      bindings = <U_REFRESH_CLOSE_TAB>;
      layers = <4>;
    };

    combo_open_clear_clipboard_history {
      key-positions = <61 62>;
      bindings = <U_OPEN_CLEAR_CLIPBOARD_HISTORY>;
      layers = <4 5>;
    };
  };
};
