// Copyright 2022 Lukas Kucera
// https://github.com/kucera-lukas/miryoku

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define SHIFT_MORPH(NAME, BINDING, SHIFT_BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-mod-morph"; \
      label = U_STRINGIFY(NAME); \
      #binding-cells = <0>; \
      bindings = <BINDING>, <SHIFT_BINDING>; \
      mods = <(MOD_LSFT|MOD_RSFT)>; \
    }; \
  }; \
};

SHIFT_MORPH(u_dot_bang, &kp DOT, &kp EXCLAMATION)
SHIFT_MORPH(u_under_minus, &kp UNDERSCORE, &kp MINUS)
SHIFT_MORPH(u_comma_question, &kp COMMA, &kp QUESTION)
SHIFT_MORPH(u_double_single, &kp DOUBLE_QUOTES, &kp SINGLE_QUOTE)

/ {
  behaviors {
    u_dot_bang_tap_mt: u_dot_bang_tap_mt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_dot_bang_tap_mt";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&u_dot_bang>;
    };
  };
};

/ {
  behaviors {
    u_comma_question_tap_lt: u_comma_question_tap_lt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_comma_question_tap_lt";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&u_comma_question>;
    };
  };
};
