// Copyright 2022 Lukas Kucera
// https://github.com/kucera-lukas/miryoku

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  behaviors {
    alt_tab_swapper: alt_tab_swapper {
      compatible = "zmk,behavior-tri-state";
      label = "alt_tab_swapper";
      #binding-cells = <0>;
      bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
      ignored-key-positions = <26>;
    };

    gui_tab_swapper: gui_tab_swapper {
      compatible = "zmk,behavior-tri-state";
      label = "gui_tab_swapper";
      #binding-cells = <0>;
      bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
      ignored-key-positions = <26>;
    };

    alt_gui_tab_swapper: alt_gui_tab_swapper {
      compatible = "zmk,behavior-hold-tap";
      label = "alt_gui_tab_swapper";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&gui_tab_swapper>, <&alt_tab_swapper>;
    };
  };
};
